body{
    margin: 0;
    background-color: #f9f9f9;
    
  }
  *{
    font-family: Roboto Slab;
    margin: 0;
  }
  
  header {
    padding: 20px 0;
    background-color: rgba(245, 222, 179, 0.581);
    display: flex;
  }
  .text-content{
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: justify;
  }
  .title-container h1, .title-container h2{
    position: relative;
    top: 50px;
    left: 40px;
    font-size: 32px;
  }
.img, .avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    position: relative;
    left : 15px;
  }  
.container{
    padding : 25px;
    background-color: beige;
    display:flex

}
.sider, .content{
    width: calc(80% - 10px);
    background-color: gainsboro;
    padding: 30px;
}
.sider{
    width: calc(32% - 20px);
    margin-right: 20px;
}
.content{
    flex-grow: 1;
}
.tag-fill{
    background-color: #16a084be;
    padding: 5px;
    font-size: 22px;
    display: inline-block;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.tag-content{
    padding-left: 20px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.progress-container {
  width: 80%;
}

.progress-title{
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.progress-wrap{
  width: 100%;
  height: 10px;
  background-color: white;
  margin-top: 8px;
  margin-bottom: 16px;
}

.progress{
  width: 50%;
  height: 10px;
  background-color: #16a085;
}
.tag{
  font-size: 22px;
  color: #212121;
  padding: 10px 20px;
  border-left: 18px solid #16a084be;
  margin-bottom: 20px;
}